@tailwind base;
@tailwind components;
@tailwind utilities; 

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

:root {
  --panel-width: calc(100% / 6);
  --darkblue: #02020c;
  --white: #fff;
  --lightgray: #fafafb;
}

html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: #fff;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--darkblue);
  color: var(--white);

}

a {
  text-decoration: none;
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  font-size: 1vw;
}

nav ul li a {
  position: relative;
  content: '';
}

nav ul li a:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0;
  height: 2px;
  background-color: #06b6d4;
  transition: all ease 0.5s;
}

nav ul li a:hover:before {
  width: 100%;
}

.content .text {
  width: 100%;
}

.content .img_group {
  position: absolute;
  top: 15%;
  left: 0;
  margin: 0 auto;
  width: 100%;
  padding: 0 100px;
  z-index: -1;
}

.content .img_group img {
  opacity: 1;
}

h1 {
  font-size: 2vw;
  font-weight: 400;
  line-height: 126px;
  text-align: left;
}

// h1 .full-stack-dev {
//   position: relative;
// }

.middle {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: "all 0.25s ease-in-out";
  background-color: #000000;
  color: #dbd8d6;
  h1 {
    text-transform: uppercase;
    font-family: 'Monsterrat', sans-serif;
  }
  h2 {
    text-transform: uppercase;
    font-family: "Bodoni Moda", serif;
    font-style: italic;
  }
}

// animation for the preloader
.panels {
  position: fixed;
  top: 0;
  left: 50%;
  width: 180vw;
  height: 100%;
  transform: translateX(-50%) skewX(-35deg);
  clip-path: circle(100%);
  z-index: 1;
  background: var(--lightgray);
}

.panels .panel {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--panel-width);
  transform: scaleY(0);
  transform-origin: top;
  background: var(--darkblue);
}

.panels .panel:nth-child(even) {
  transform-origin: bottom;
}

.panels .panel:nth-child(2) {
  left: calc(var(--panel-width) - 1px);
}

.panels .panel:nth-child(3) {
  left: calc(calc(var(--panel-width) * 2) - 2px);
}

.panels .panel:nth-child(4) {
  left: calc(calc(var(--panel-width) * 3) - 4px);
}

.panels .panel:nth-child(5) {
  left: calc(calc(var(--panel-width) * 4) - 5px);
}

.panels .panel:nth-child(6) {
  left: calc(calc(var(--panel-width) * 5) - 6px);
}

.page-main {
  display: flex;
  height: 100%;
  padding: 170px 15px;
  clip-path: circle(20%);
  overflow-y: auto;
  background: var(--darkblue);
}

.page-main > div {
  text-align: center;
  margin: auto;
}

@media (max-width: 1024px) {
  .panels {
      width: 200vw;
  }
}

@media screen and (max-width: 600px) {
  .panels {
      width: 235vw;
  }
}

.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
}
.proj-imgbx::before {
  content: "";
  background: radial-gradient(at right center, rgb(56, 189, 248), rgb(49, 46, 129));
  opacity: 0.85;
  position: absolute;
  width: 100%;
  right: 0px;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}

.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

.Toastify__toast--success {
  border: 1px solid #3A9EA5 !important;
  border-radius: 50px !important;
  background: #F0F9FA !important;
  color: black !important;
  }
  .Toastify__toast--success::before {
  position:relative; 
  z-index:100000;
  left:12px;
  top:6px;
  }
  .Toastify__toast--success::after {
  position: absolute;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  left:265px;
  padding-top: 14px !important;
  }
  .Toastify__toast--warning::after {
  
  position: absolute;
  color: #E78326;
  font-size: 15px;
  font-weight: 700;
  left:265px;
  padding-top: 14px !important;
  }
  .Toastify__toast-body {
  color: #000000 !important   ;
  font-size: 16px;
  padding-left: 20px;
  line-height: 20px;
  padding: 0px;
  padding-top: 25px;
  width: 100% !important;
  font-weight: 400;
  margin-left: 25px !important;
  } 
  .Toastify__close-button--light {
    display: none;
  }
  
  .Toastify__toast-body > div:last-child {
    color: #333333;
    font-family: 'Noto Sans', sans-serif;
  }

  .select-input, .select-input > option {
    color: #171923 !important;
    
  }
  
  .chakra-select__icon > path {
    color: #171923 !important;
  }
  .form-button{
    overflow: hidden; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 5rem;
    padding-right: 5rem; 
    margin-top: 1rem; 
    transition-duration: 500ms; 
    border-radius: 9999px; 
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); 
  }